$primary: #686868;
$secondary: #dee2e6;
$link-color: #fff;
$nav-offset: 172px;

@import "~bootstrap/scss/bootstrap";

.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

%btn-img {
    @extend .btn;
    background: no-repeat center center;
    background-size: 100% auto;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.login-page {
    @extend .row;
    @extend .h-100;
    @extend .justify-content-center;
    @extend .align-items-center;
    background: url("./img/login-bg.jpg") center no-repeat;
}

.login-page:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0, 0.6);
}

.login-card {
    @extend .card;
    @extend .rounded;
    @extend .bg-primary;
    @extend .text-center;
    width: 400px;
}

.login-card-img {
    @extend .card-img-top;
    @extend .p-3;
}

.login-card-subtitle {
    @extend .card-title;
    color: #fff;
    font-size: 1.5rem;

    @include media-breakpoint-down(xs) {
        font-size: 1.3rem;

    }
}

.login-btn {
    @extend .my-3;
    @extend .py-2;
    position: relative;
    display: block;
    text-align: left;
    border-radius: 4px;
    font-size: 17px;
    opacity: 1;
    padding-left: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .logo-ctr {
        position: absolute;
        border-right: 1px solid rgba(0,0,0, 0.2);
        left: 0px; top: 0px; bottom: 0px;
        display: flex;
        width: 45px;
        padding: 0 10px;
    }

    &:hover {
        text-decoration: none;
        opacity: .90;
    }
}

#google-login-btn {
    background: #fff;
    color: #444;
}

#fb-login-btn {
    background: #4267B2;
    color: #fff;
}

.navbar-logo {
    @extend .navbar-brand;
    width: 130px;
}

.cm-navbar {
    @extend .navbar;
    @extend .navbar-expand-md;
    @extend .bg-primary;
    @extend .position-fixed;
    @extend .flex-md-column;

    z-index: 1;

    @include media-breakpoint-up(md) {
        height: 70%;
    }

    @include media-breakpoint-down(sm) {
        padding-right: 20%;
        width: 100%;
    }
}

.navbar-toggler-icon {
    background-image: url("./img/collapsed-nav.png");
}

.cl-nav-items {
    @extend .navbar-nav;
    @extend .flex-column;
    @extend .align-self-start;
    @extend .mt-md-4;
}

.profile-info {
    @extend .flex-md-column;
    @extend .position-fixed;
    @extend .bg-primary;
    width: $nav-offset;
    bottom: 0;
    z-index: 2;

    @include media-breakpoint-up(md) {
        height: 30%;
    }

    @include media-breakpoint-down(sm) {
        height: 56px;
        width: 20%;
        top: 0; right: 0;
    }
}

.profile-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(sm) {
        justify-content: center;
    }
}

.profile-icon-ctr {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    margin-bottom: 10px;
}

.profile-icon {
    display: block;
    width: 100%;
    height: auto;
}

.profile-link {
    display: inline-block;
    color: darken(#fff, 15%);
    font-size: 1.3rem;
    margin: 0 10px;

    &:last-child {
        margin-bottom: 20px;
    }
    
    &:hover {
        color: darken(#fff, 35%);
    }
}

.profile-full-display {
    display: flex;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.profile-dropdown {
    display: none;

    @include media-breakpoint-down(sm) {
        display: flex;
    }
}

.dropdown-item {
    font-size: 0.85rem;

}

.profile-icon-ctr.dropdown-toggle {
    margin-bottom: 0px;
}

.profile-icon-ctr.dropdown-toggle::after {
    content: none;
}

.content-ctr {
    @extend .bg-light;
    @extend .flex-fill;
    @extend .align-self-stretch;

    @include media-breakpoint-up(md) {
        padding-left: $nav-offset;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 75px;
    }
}

.car-grid-items {
    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-sm-2;
    @extend .row-cols-lg-3;
    @extend .row-cols-xl-4;
}

.car-card, .add-car-card {
    max-width: 250px;
    
    @include media-breakpoint-down(sm) {
        max-width: none;
        width: 100%;
    }
}

.car-card-footer {
    @extend .card-footer;
    @extend .bg-white;
    display: flex;
    justify-content: space-around;
}

.add-car-card {
    @extend .w-100;
    @extend .h-100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 1px dashed lighten($primary, 30%);

    &:hover {
        color: white;
    }
}

.plus-img-ctr {
    @include media-breakpoint-up(md) {
        width: 20%;
    }

    @include media-breakpoint-down(sm) {
        width: 15%;
    }
}

.table td {
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(104, 104, 104, 0.8);
    color: #fff;
}

.default-link {
    color: $blue;

    &:hover {
        color: darken($blue, 25%);
    }
}

.add-service-btn-ctr {
    @extend .col-sm-6;
    @extend .mt-4;
    @extend .mt-sm-0;
    display: flex;
    justify-content: center;
    @extend .justify-content-sm-end;
}

.add-service-btn {
    @extend .btn;
    @extend .btn-primary;

    @include media-breakpoint-down(xs) {
        display: block;
        width: 100%;
    }
}

.service-record-header {
    @extend .row;
    @extend .row-cols-3;
    @extend .text-center;
    @extend .border-bottom;
    @extend .d-none;
    @extend .d-sm-flex;
    align-items: center;
}

.service-record-row {
    @extend .row;
    @extend .row-cols-3;
    @extend .pt-3;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        background: $gray-200;
    }
}

.service-record-data {
    @extend .row;
    @extend .py-3;
    align-items: center;
    background-color: $secondary;
}

.sr-header-label-inline {
    @extend .d-sm-none;
    @extend .d-inline;
    @extend .font-weight-bold;
}

%service-form-btn {
    @extend %btn-img;
    @extend .mx-1;
}

.service-plus-btn {
    @extend %service-form-btn;
    background-image: url("./img/plus.svg");
}

.service-minus-btn {
    @extend %service-form-btn;
    background-image: url("./img/minus.svg");
}

%service-btn-icon {
    @extend %btn-img;
    height: 30px;
}

.trash-icon {
    @extend %service-btn-icon;
    background-image: url("./img/trash-icon.png");
}

.edit-pen-icon {
    @extend %service-btn-icon;
    background-image: url("./img/edit-pen-icon.png");
}

.sec-head-ctr {
    @extend .col-12;

    hr {
        margin-top: 0px;
    }
}

.stg-sec-header {
    @extend .h5;
}

.section-items {
    @extend .col-12;
}

.section-items-row {
    @extend .row;
    @extend .mb-lg-4;
    @extend .mb-3;
}

.section-item-label {
    @extend .col-12;
    @extend .col-lg-3;
    @extend .font-weight-bold;
}

.section-item-content {
    @extend .col-auto;
}

.sec-content-desc {
    @extend .font-italic;
    @extend .mt-1;
}

.no-service-found-text {
    @extend .text-center;
    @extend .my-2;
    color: rgba(0,0,0, 0.7);
}

.not-found-txt-ctr {
    @extend .py-2;
}

.service-select {
    @extend .custom-select;
    @extend .w-auto;
    @extend .d-block;
    min-width: 200px;
}

.error-img-ctr {
    width: 50px;
    margin: auto;
}

.social-account-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.account-provider {
    @extend .font-weight-bold;
    margin-right: 5px;
    margin-bottom: 0px;
}

.connect-link-ctr {
    display: flex;
    margin-left: 3px;
    margin-bottom: 0px;
}

.connect-status {
    display: flex;
    align-items: center;

    .icon-ctr {
        display: flex;
        width: 18px;
    }
}

.connect-status-icon {
    color: $green;
    margin-right: 5px;
}

.connect-link {
    @extend .default-link;
}

.was-validated .custom-select:valid, .was-validated .service-select:valid, 
.custom-select.is-valid, .is-valid.service-select {
    @extend .custom-select;
}

.was-validated .custom-select:valid:focus, 
.was-validated .service-select:valid:focus, .custom-select.is-valid:focus, 
.is-valid.service-select:focus {
    @extend .custom-select:focus;
}

.was-validated .form-control:valid, 
.was-validated .is-valid.form-control:valid, 
.is-valid.form-control {
    background: none;
    border-color: #ced4da;
}

.was-validated .form-control:valid:focus, 
.was-validated .is-valid.form-control:focus:valid, 
.is-valid.form-control:focus {
    border-color: #a8a8a8;
    box-shadow: 0 0 0 0.2rem rgba(104, 104, 104, 0.25);
}

.alert-ctr {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 10px;
    flex-direction: column;
    align-items: flex-end;

    @include media-breakpoint-up(md) {
        padding-left: $nav-offset;
    }

    @include media-breakpoint-down(sm) {
        align-items: center;
    }
}

.app-alert {
    @extend .alert;
    width: 275px;
    font-size: 13px;
    margin-right: 20px;
    opacity: 1;
    transition: opacity 1s linear;

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

.loading-icon-ctr {
    width: 100%;
}

.lds-ring {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 5px solid $primary;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  